/*Formatação de tela para computadores*/

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}

/*Formatando o cabeçalho da aplicação*/

header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
#logo{
    display: flex;
    align-items: center;
}

/*formatando o menu de navegação*/

#menu{
    display: flex;
    align-items: center;
}
nav ul, 
nav li{
    list-style: none; /*basicamente esse parametro ira tirar os pontinhos da lista*/
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase; /*esse parametro faz com que todo o conteudo fique em maiusculo*/
    color: #727272;
}
nav a:hover{
    color: white;
    background-color: #42b3e5;
    transition-duration: .5s;
    border-radius: 5px;
}

/*Formatando o banner da aplicação*/

#baner{
    background-color: #6ca6cb;
    background-image: url('../img/exames.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;

    display: flex;
    justify-content: center;
}
.column{
    flex-direction: column;
}
#headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#headline > h1{
    color: #3d90fc;
    font-size: 70px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.753);
    margin: 0px;
    padding: 0px;
    max-width: 335px;
}
#headline > h2{
    color: #388efd;
    font-size: 22px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.753);
    margin: 20px 0px 0px 0px;
    padding: 0px;
    max-width: 335px;
}
#option{
    height: 210px;
    display: flex;
}
#opt1, 
#opt2, 
#opt3{
    padding: 20px;
    flex: 1;
    color: white;
}
#opt1{
    background-color: #42b3e5;
    border-radius: 5px 0px 0px 0px;
}
#opt2{
    background-color: #0384ce;
}
#opt3{
    background-color: #3156a3;
    border-radius: 0px 5px 0px 0px;
}
.title{
    font-size: 21px;
}
.desc{
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0px 20px 0px;
}
#option a{
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    font-size: 12px;
}
.day{
 display: flex;
 justify-content: center;
 flex-direction: column;
}
.d1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
}

/*Formatando o corpo da aplicação*/

#corpo{
    display: flex;
    justify-content: center;
}
#corpo article{
    flex: 2;
}
#corpo aside{
    flex:1;
}
.widget-title{
    margin: 30px 0px 20px 0px;
}
.widget-title-text{
    font-weight: bold;
    margin-bottom: 8px;
}
.widget-title-bar{
    width: 50px;
    height: 2px;
    background-color: #42b3e5;
}

/*Formatando o conteudo principal*/

#data-coment a{
    text-decoration: none;
    color: #666666;
}
#data-coment .news-data{
    display: flex;
    color: white;
    font-size: 12px;
}
.news-posted{
    display: block;
    padding: 10px;
    margin-right: 2px;
    background-color: #3156a3;
}
.news-coments{
    display: block;
    padding: 10px;
    background-color: #42b3e5;
}
.news-thumb{
    margin-top: 30px;
}
.news-thumb img{
    width: 100%;
    height: auto;
}
.news-title{
    margin: 25px 0px 25px 0px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.news-resume{
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    flex-flow: row wrap;
}
#data-coment{
    flex: 1;
    min-width: 300px;
    margin-right: 25px;
}

/*Formatando o aside*/

#trataments{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.procedments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px 15px 0px;
    border-bottom: 1px solid #6666664f;
}
.procedments .exame{
    color: #666666;
    font-size: 16px;
}
.procedments .incluir{
    color: #3156a3;
}
.procedments a{
    text-decoration: none;
}
#desc-resum{
    line-height: 20px;
    font-size: 14px;
    color: #666666;
    padding-bottom: 30px;
    border-bottom: 1px solid #66666670;
}
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cont a{
    text-decoration:none;
    color: #3d90fc;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #66666670;
}
.ico-cont{
    flex: 1;
    height: 30px;
    background-color: #66666698;
    border-radius: 5px;
}
.tipe-cont{
    font-size: 13px;
    flex: 6;
    padding: 20px 0px 20px 10px;
}
.phone{
    background-image: url('../img/telefone.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.email{
    background-image: url('../img/email.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.form{
    background-image: url('../img/formulario.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Formatando o rodapé da aplicação*/

footer{
    background-color: #202020;
    display: flex;
    justify-content: center;
}

.footer-menu{
    display: flex;
    flex: 1;
}
#fm-1, #fm-2, #fm-3{
    flex: 1;
    color: white;
    padding: 20px;
    padding-left: 30px;
}
#fm-1{
    background-color: #42b3e5;
}
#fm-2{
    background-color: #0384ce;
}
#fm-3{
    background-color: #3156a3;
}
.foot{
    flex-direction: column;
}
.footer-area{
    display: flex;
    justify-content: center;
}
.footer-cont{
    flex: 1;
    color: white;
}
.footer-copy{
    display: flex;
    justify-content: center;
    border-top: 1px solid #66666670;
    margin-top: 30px;
}
.copy{
    color: #858585;
    font-size: 13px;
    padding: 15px;
}
.copy > a{
    color: white;
    text-decoration: none;
}
.menu-link{
    font-size: 12px;
    margin: 20px 0px 20px 0px;
}
.menu-title{
    font-size: 21px;
}
.area-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #858585;
    padding-right: 25px;
}
.area-desc{
    font-size: 12px;
    margin-bottom: 30px;
    line-height: 19px;
}
.area-inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}
.contac-inf{
    text-align: right;
}
.contac-inf > a{
    color: white;
    text-decoration: none;
}
.desc-inf >a{
    display: flex;
    flex-direction: row;
}
.redes{
    flex: 1;
    height: 30px;
    width: 35px;
    background-color: #66666698;
    margin-right: 3px;
    border-radius: 2px;
}
.red{
    margin-top: 25px;
}
.face{
    background-image: url('../img/face.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tweet{
    background-image: url('../img/tweet.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.data{
    background-image: url('../img/data.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.post-text{
    font-size: 12px;
    color: #c7c7c7;
}
.post-dat > a{
    font-size: 10px;
    margin-top: 8px;
    text-decoration: none;
    color: #0384ce;
}
.post-cont{
    margin-bottom: 25px;
    padding-right: 20px;
}
.twt{
    color: #858585;
}
.twt > a{
    text-decoration: none;
    color: #c7c7c7;
}

/*Formatação de tela para tablets*/

@media (max-width: 662px){

    /*Menu para celular deitado ou tablet*/

    header{
        height: 80px;
    }
    .container{
        width: 665px;
    }
    nav a{
        font-size: 12px;
        padding: 8px;
    }
    #logo{
        margin: 0px 0px 0px 3px;
    }
    #menu{
        margin: 0px 3px 0px 0px;
    }

    /*Banner para celular deitado ou tablet*/
    #baner{
        height: 550px;
    }
    #headline > h1{
        font-size: 50px;
        max-width: 250px;
    }
    #headline > h2{
        font-size: 17px;
        max-width: 250px;
    }
    #headline > h1,
    #headline > h2{
        padding-left: 3px;
    }
    #opt1{
        margin-left: 3px;
    }
    #opt3{
        margin-right: 3px;
    }
    .title{
        font-size: 19px;
    }
    .desc{
        font-size: 11px;
        margin: 15px 0px 15px 0px;
    }
    .d1{
        font-size: 13px;
    }
    #option{
        height: 196px;
    }
    #option a{
        font-size: 11px;
        padding: 8px;
    }

    /*Corpo principal para celular deitado ou tablet*/

    #cp-imp{
        margin-left: 3px;
    }

    /*Rodapé para celular deitado ou tablet*/
    .esq{
        padding: 3px;
    }
}